.selected,
.previous,
.slide {
  /* min-width: auto !important; */
  width: auto;
}


.rec-pagination{
    display: none;
}

.ReactModal__Overlay .ReactModal__Overlay--after-open{
  background-color: black !important;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: transparent;
  border: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: none;
}