.loginForm{
   
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(245, 233, 233);
    color: aliceblue;
    
}

.actualForm{
    padding-top: 8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.loginInputs{
    margin: 1rem;
    width: 40rem;
    height: 2.5rem;
    font-size: 1rem;
}

.loginButton{
    margin-top: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    height: 4rem;
}