.cartContainer {
  background-color: antiquewhite;
  
  margin-top: 4rem;
  margin-left: 2.5rem;
  margin-bottom: 4rem;
  width: 90rem;
  height: 40rem;
  overflow-y: scroll;
}

.cartItemDiv {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  margin: 2rem;
}
.actualCartItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total {
    font-size: 2rem;
    font-weight: bolder;
    margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
    margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-alt{
    margin:  1rem 0;
    width: 9rem;
    height: 2rem;
}
