.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;

  background-color: rgba(137, 135, 135, 0.5);

  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );

  backdrop-filter: "blur(10px)";

  box-shadow: 5px 5px 20px rgba(81, 80, 80, 0.5);

  padding: 0px;

  border-radius: 2px;

  margin-bottom: 10px;
  width: 60vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  position: relative;
  
  
}

.columnFlex {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.form {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  right: 0;
  transform: translate(0, -50%);
  top: 50%;
  background-color: rgba(72, 6, 87, 0.7);
}

.input {
  width: 280px;
  height: 25px;

  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

.input:active {
  width: 280px;
  height: 25px;

  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

.file {
  width: 270px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dashed;
  gap: 20px;
  padding: 0px 5px;
}

.input:focus {
  width: 280px;
  height: 25px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

.input::placeholder {
  color: white;
}

.button {
  height: 36px;
  background: rgb(85, 6, 6);
  color: white;
  width: 16rem;
  font-size: 14px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  margin-top: 10px;
}

.cryptoImg {
  width: 50%;
  height: auto;
  margin: 0;
}

@media (max-width: 768px) {
  .outer {
    width: 90vw !important;
    padding: 5px 0px !important;
  }
  .cryptoImg {
    width: 100%;
    height: auto;
    margin: 0;
    /* display: none; */
  }

  .form {
    width: 100%;
  }
}
