.cards{
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    
}

.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0px;
    color: rgb(115, 111, 111);
    text-decoration: dashed underline;
}
.corouselMobile{
    display: none;
}

@media(max-width:768px){
    .cards{
        width: 100%;
        overflow: hidden;
    }
    .corouselDesktop{
        display: none;
    }
    .corouselMobile{
        display: block;
    }
}