.productSection {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 1%;
  background-color: rgb(241, 239, 239);
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
