.main {
    height: 80vh;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;

}
.imageDiv {
  width: 400px;
  height: 400px;
}
.actualImage {
  width: 100%;
  object-fit: cover;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  font-size: 28px;
  font-weight: 600;
}

.details {
  font-size: 20px;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  width: 200px;
  padding: 7px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 2px solid transparent;
  font-size: 1rem;
  border-radius: 5px;
}
.button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.light{
    color: grey;
}

.price{
    font-size: 24px;
    font-weight: 600;
}

@media(max-width:768px){
  .main{
    flex-direction: column;
  }
  .imageDiv{
    width: 80vw;
    height: 40vh;
  }

  .content{
    width: 80vw;
    gap: 5px;
    margin-bottom: 30px  ;
  }
}