.mob{
    display: none;
}

.heading{
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0px;
    color: rgb(115, 111, 111);
    text-decoration: dashed underline;
}

@media(max-width:768px){
    .regular{
        display: none;
    }
    .mob{
        display: block;
    }
}