.main {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 20px;
}

.imgDiv {
  width: 300px;
  height: 300px;
}

.actualImg {
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.name {
  font-size: 24px;
}

.large {
  font-size: 20px;
}

.button {
  width: 200px;
  padding: 7px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 2px solid transparent;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 15px;
}
.button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

@media (max-width: 768px) {
  .main {
    width: 80vw;
    height: 20vh;
  }
  .imgDiv {
    width: 40vw;
    height: auto;
  }

  .name {
    font-size: 16px;
    font-weight: 600;
  }
  .flex {
    font-size: 14px;
  }
  .button {
    width: 150px;
    padding: 3px;
    
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    
    margin-top: 10px;
  }
}
