.main{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profileImageDiv{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profileImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.name{
    font-size: 26px;
    font-weight: 600;
}
.username{
    font-size: 22px;
    font-weight: 400;
}
.email{
    font-size: 20px;
    font-weight: 300;
}

.colouredText{
    color: #7d7c7c;
}

.button {
    width: 200px;
    padding: 7px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    font-size: 1rem;
    border-radius: 5px;
  }
  .button:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
  }

  .orders{
    width: 100vw;
  }

.orderButton{
    width: 200px;
    padding: 7px;
    cursor: pointer;
    background-color: white;
    color: red;
    border: 2px solid red;
    font-size: 1rem;
    border-radius: 5px;
}

.orderButton:hover{
    background-color: red;
    color: white;
    border: 2px solid white;
}

