.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background-color: rgb(254, 254, 254);
}

.links {
  display: flex;
  gap: 40px;
  margin-right: 30px;

  color: rgb(67, 68, 68);
}

.link {
  cursor: pointer;
  font-size: 24px;
}

.logo {
  margin-left: 20px;
  font-size: 24px;
  color: rgb(45, 45, 46);
  cursor: pointer;
  font-weight: 500;
}

@media(max-width:768px){
  

  .links{
      gap: 10px;
  }
}