.product {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  align-items: center;
  background-color: white;
  color: aliceblue;
  margin: 1rem 2rem;
  color: black;
  font-size: 2rem;
}

.image {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}

.productButton {
  width: 7rem;
  height: 2.5rem;
  cursor: pointer;
  background-color: rgb(180, 111, 111);
  color: aliceblue;
  font-size: 1.2rem;
}

.productHeading,
.image,
.price,
.productButton {
  margin: .4rem 2rem;
}
